data
checkpoints
video
test/result_plots
test/tracking_results
logs
pretrained
moeeval
i2moe
Figures
extracted_bands
tensorboard/train
*.pyc
lib/test/vot_rgb
lib/test/vot
expert_selection_statistics.xlsx
